html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  font-family: "Quicksand", serif;
}

header,
main,
footer {
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  margin: 0 0;
}
.artist-nav {
  display: flex;
  justify-content: space-between;
}
.nav-button {
  border: none;
  font-size: 24px;
  background: none;
}
.like-circle {
  margin: 16px 0;
}

.circle-foreground {
  transition: stroke-dasharray 350ms;
  transform: rotate(-90deg);
  transform-origin: center;
}

.like-heart {
  transform-origin: center;
  transition: transform 50ms;
}

.ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  gap: 8px;
}
.rating {
  width: 25px;
  aspect-ratio: 1/1;
  transition: filter 550ms;
}

.rating.disabled {
  filter: grayscale(1);
}
